.carousel-container {
  position: relative;
  height: 400px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  margin: 40px auto;
}

.carousel-image {
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.carousel-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s ease-in-out;
}

.carousel-button:hover {
  background-color: #589382;
}